:root {
  --primary-color: #31343d;
  --secondary-color: #95cacd;
  --tertiary-color: #445672;
  --appHeightSize: 150px;
  --borderLine: 4px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px 15px 0;
}

header h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 36px;
  padding: 10px 5px 10px 40px;
}

header nav {
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 26px;
  text-decoration: none;
  border-bottom: var(--borderLine) #95cacd;
  margin: 10px;
}
/* Header Style End */

/* Hero Style Start */
.hero {
  background-image: url("../images/developerImage.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
}

.subtitle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  margin: auto;
  width: fit-content;
  top: 55%;
  left: 39%;
  border: 1px;
}
/* Hero Style End */

/* Main Style Start */
main {
  flex-direction: column;
  padding: 20px 35px 0px 35px;
}

main section {
  display: flex;
  padding: 20px 50px 0px 50px;
}

main section h2 {
  flex: 1;
  color: var(--tertiary-color);
  font-size: 35px;
  border-right: var(--borderLine) var(--tertiary-color);
  text-align: right;
  padding: 10px;
}

.developer-info,
.applications,
.contact-info {
  flex: 9;
  padding: 10px;
}
/* Main Style End */

/* About Me Style Start */
.developer-info {
  font-size: 20px;
  color: var(--tertiary-color);
}
/* About Me Style End */

/* Work Style Start */
.applications {
  display: flex;
  flex-wrap: wrap;
}

.app {
  border: var(--borderLine) var(--secondary-color);
  margin: 10px;
  height: var(--appHeightSize);
  width: 47%;
}

#project1 {
  background-image: url("../images/Project1.jpg");
  width: 95.5%;
  height: 300px;
}

#project2 {
  background-image: url("../images/Project2.jpg");
}

#project3 {
  background-image: url("../images/Project3.jpg");
}

#project4 {
  background-image: url("../images/Project4.jpg");
}

#project5 {
  background-image: url("../images/Project5.jpg");
}

.app-info {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  width: fit-content;
  position: relative;
  top: 40%;
}

.app-info h3 {
  font-size: 20px;
  padding: 10px;
}

.app-info p {
  font-size: 18px;
  padding: 0 10px 10px 10px;
}

#project1 .app-info {
  top: 70%;
}
/* Work Style End */

/* Contact Me Style Start */
.contact-info ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 25%;
}
.contact-info ul li {
  list-style: none;
}

.contact-info ul li a {
  text-decoration: none;
  border-bottom: var(--borderLine) var(--tertiary-color);
  color: black;
  font-size: 26px;
}
/* Contact Me Style End */
