:root {
  --primary-color: #31343d;
  --secondary-color: #95cacd;
  --tertiary-color: #445672;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px 15px 0;
}

header h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 36px;
  padding: 10px 5px 10px 40px;
}

header nav {
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 26px;
  text-decoration: none;
  border-bottom: 4px solid #95cacd;
  margin: 10px;
}
/* Header Style End */

/* Hero Style Start */
.hero {
  background-image: url("../images/developerImage.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
}

.subtitle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  margin: auto;
  width: 200px;
  top: 55%;
  left: 39%;
  border: 1px;
}
/* Hero Style End */

/* Main Style Start */
main {
  flex-direction: column;
  padding: 20px 35px 0px 35px;
}

main section {
  display: flex;
  padding: 20px 50px 0px 50px;
}

main section h2 {
  flex: 1;
  color: var(--tertiary-color);
  font-size: 35px;
  border-right: 4px solid var(--tertiary-color);
  text-align: right;
  padding: 10px;
}

main section div {
  flex: 9;
  padding: 10px;
}
/* Main Style End */

/* About Me Style Start */
.developer-info {
  font-size: 20px;
  color: var(--tertiary-color);
}
