:root {
  --primary-color: #31343d;
  --secondary-color: #95cacd;
  --tertiary-color: #445672;
  --appHeightSize: 150px;
  --borderLine: 4px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px 15px 0;
}

header h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 36px;
  padding: 10px 5px 10px 40px;
}

header nav {
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 26px;
  text-decoration: none;
  border-bottom: var(--borderLine) var(--secondary-color);
  margin: 10px;
  transition: background-color 1s, color 0.5s;
}

header nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition-timing-function: ease;
}

/* Header Style End */

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-portrait.jpg");
  background-size: auto 200px;
  background-position: center;
  height: 200px;
}

.subtitle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  margin: auto;
  width: fit-content;
  top: 70%;
  left: 39%;
  border: 1px;
}
/* Hero Style End */

/* Main Style Start */
main {
  flex-direction: column;
  padding: 20px 35px 0px 35px;
}

main section {
  display: flex;
  padding: 20px 50px 0px 50px;
}

main section h2 {
  flex: 1;
  color: var(--tertiary-color);
  font-size: 35px;
  border-right: var(--borderLine) var(--tertiary-color);
  text-align: right;
  padding: 10px;
}

.developer-info,
.applications,
.contact-info {
  flex: 9;
  padding: 10px;
}
/* Main Style End */

/* About Me Style Start */
.developer-info {
  font-size: 20px;
  color: var(--tertiary-color);
}
/* About Me Style End */

/* Work Style Start */
.applications {
  display: flex;
  flex-wrap: wrap;
}

.app {
  border: var(--borderLine) var(--secondary-color);
  margin: 10px;
  height: var(--appHeightSize);
  width: 47%;
  background-size: cover;
  text-decoration: none;
}

#project1 {
  width: 95.5%;
  height: 450px;
}

.projectImage {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  filter: blur(5px) opacity(70%);
  transition: filter 2s;
}

.projectImage:hover {
  filter: none;
}
#project1 .projectImage {
  background-image: url("../images/garden-planner.gif");
}

#project2 .projectImage {
  background-image: url("../images/Anime4You.gif");
}

#project3 .projectImage {
  background-image: url("../images/tech-blog.gif");
}

#project4 .projectImage {
  background-image: url("../images/e-commerce-back-end.gif");
}

#project5 .projectImage {
  background-image: url("../images/employee-tracker.gif");
}

.app-info {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  width: fit-content;
  position: relative;
  top: -60%;
}

.app-info h3 {
  font-size: 20px;
  padding: 10px;
}

.app-info p {
  font-size: 18px;
  padding: 0 10px 10px 10px;
}

#project1 .app-info {
  top: -25%;
}
/* Work Style End */

/* Contact Me Style Start */
.contact-info ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 25%;
}
.contact-info ul li {
  list-style: none;
}

.contact-info ul li a {
  text-decoration: none;
  border-bottom: var(--borderLine) var(--tertiary-color);
  color: black;
  font-size: 26px;
}
/* Contact Me Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  /* 980px Header Style Start */
  header {
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    width: 100%;
    justify-content: center;
  }

  header nav ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header nav ul li a {
    font-size: 20px;
  }
  /* 980px Header Style End */

  /* 980px Hero Style Start */
  .subtitle {
    left: 0%;
  }
  /* 980px Hero Style End */

  /* 980px Main Style Start */
  main {
    padding-top: 5px;
  }

  main section {
    flex-direction: column;
    align-items: center;
  }

  main section h2 {
    border-right: none;
    border-bottom: var(--borderLine) var(--tertiary-color);
    width: 100%;
    text-align: center;
  }
  /* 980px Main Style End */

  /* 980px About Me Style Begin */
  .developer-info {
    font-size: 18px;
  }
  /* 980px About Me Style End */

  /* 980px Work Style Start */
  .app,
  #project1 {
    width: 100%;
  }

  #project1 {
    height: var(--appHeightSize);
  }

  #project1 .app-info {
    top: -60%;
  }
  /* 980px Work Style End */

  /* 980px Contact Me Style Begin */
  .contact-info ul {
    flex-direction: column;
    align-items: center;
  }

  .contact-info ul li {
    padding: 10px;
  }
  /* 980px Contact Me Style End */
}

@media screen and (max-width: 768px) {
  main {
    padding: 5px;
  }
}

@media screen and (max-width: 575px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }

  .developer-info {
    font-size: 16px;
  }

  .app-info h3 {
    font-size: 16px;
  }

  .app-info p {
    font-size: 14px;
  }

  .contact-info ul li a {
    font-size: 20px;
  }
}
